.back {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  margin-left: %;
}

.textSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 50%;
  padding-left: 10%;
  box-sizing: border-box;
}
.sliderSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIndex {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #facb67;
}

.headerTitle {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #6349eb;
}

.headerSubtitle {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #52505a;
}

.headerAddSubtitle {
  font-family: "NPS font", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}

.headerengSubtitle {
  font-family: "NPS font", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  color: #00000080;
  font-style: normal;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    margin-left: 0;
  }

  .textSection {
    max-width: 100%;
    padding-left: 0;
    align-items: center;
    text-align: center;
    gap: 12px;
  }

  .sliderSection {
    width: 100%;
    max-width: 360px;
    margin-top: 20px;
    overflow: hidden;
  }

  .headerIndex {
    font-size: 20px;
  }

  .headerTitle {
    font-size: 28px;
    line-height: 1.4;
  }

  .headerSubtitle {
    font-size: 16px;
    line-height: 1.4;
  }

  .headerAddSubtitle {
    font-size: 14px;
    line-height: 1.4;
  }

  .headerengSubtitle {
    display: none;
  }
}
