.back {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  position: relative;
}

.image{
  top: 1038px
  left:144px;
}

.korDescription{
  position: absolute;
  top: 228px;
  left: 522px;
  font-family: "NPS font", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color:#000000;
}

.korAddedDescription{
  position: absolute;
  top: 328px;
  left: 522px;
  font-family: "NPS font", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0;
  color: #D3D3D3;
}

.engDescription{
  position: absolute;
  top: 388px;
  left: 522px;
  font-family: "NPS font", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: #C0C0C0;
}

.engAddedDescription{
  position: absolute;
  top: 458px;
  left: 522px;
  font-family: "NPS font", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0;
  color: #D3D3D3;
}