.back {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
  background-color: #f6f6f6;
  box-sizing: border-box;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.imageContainer {
  position: relative;
  width: 40vw;
  height: 40vw;
  max-width: 500px;
  max-height: 500px;
  margin-right: 5vw;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.korDescription {
  font-family: "NPS font", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.engDescription {
  font-family: "NPS font", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #c0c0c0;
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.korAddedDescription {
  font-family: "NPS font", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #d3d3d3;
  margin-top: auto;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }

  .imageContainer {
    width: 70vw;
    height: 70vw;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .korDescription,
  .engDescription {
    font-size: 16px;
    text-align: center;
  }

  .footer {
    position: static;
  }
}
