.back {
  justify-content: flex-start;
  align-items: center;
  height: 60vh;
  display: flex;
  background-color: #f6f6f6;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  max-width: 600px;
  width: 100%;

  margin-left: 10%;
}

.headerIndex {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 4vw, 30px);
  line-height: 100%;
  letter-spacing: 0;
  color: #facb67;
  margin-bottom: 10px;
}

.headerTitle {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 6vw, 40px);
  line-height: 150%;
  letter-spacing: 0;
  color: #6349eb;
  margin-bottom: 20px;
}

.headerSubtitle {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 100%;
  letter-spacing: 0;
  color: #52505a;
}
