.back {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.headerIndex {
  position: absolute;
  top: 887px;
  left: 144px;
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  color: #facb67;
}

.headerTitle {
  position: absolute;
  top: 956px;
  left: 144px;
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0;
  color: #6349eb;
}

.headerSubtitle {
  position: absolute;
  top: 1106px;
  left: 144px;
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: #52505a;
}
