.lead {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c3bfe;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
