.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #5c3bfe;
}

.topImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.memberImageContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
