.back {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 2rem;
  flex-direction: column;
  text-align: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #6349eb;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 1rem;
}

.description {
  font-family: "NPS font", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.8;
  color: #52505a;
  margin-bottom: 2rem;
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media (min-width: 768px) {
  .back {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .text-content {
    align-items: flex-start;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 40px;
  }

  .description {
    font-size: 16px;
  }
}
