.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
  padding: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin-left: 10%;
}

.headerIndex {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 3vw, 30px);
  line-height: 100%;
  color: #facb67;
  margin-bottom: 10px;
}

.headerTitle {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  line-height: 150%;
  color: #6349eb;
  margin-bottom: 20px;
}

.headerSubtitle {
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: 150%;
  color: #52505a;
  margin-bottom: 15px;
}

.headerAddSubtitle {
  font-family: "NPS font", sans-serif;
  font-weight: 500;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 150%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 10px;
}

.headerengSubtitle {
  font-family: "NPS font", sans-serif;
  font-weight: 200;
  font-size: clamp(12px, 1.5vw, 15px);
  line-height: 150%;
  color: #000000;
  margin-top: 0;
}
