.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5c3bfe;
  color: white; /* 텍스트 색상 통일 */
  padding: 200px 20px;
  box-sizing: border-box;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .back {
    flex-direction: row; /* 화면이 넓어지면 가로 방향으로 정렬 */
    justify-content: space-between;
    padding: 80px;
  }
  .imageBox {
    justify-content: flex-start; /* 이미지를 왼쪽으로 정렬 */
    margin-left: -50px; /* 원하는 만큼 왼쪽으로 이동 */
  }
}

.textBox {
  /* position: absolute 제거 */
  flex: 1;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .textBox {
    flex: 1;
  }
}

.imageBox {
  flex: 1;
  display: flex;
  justify-content: center; /* 기본적으로 이미지를 중앙에 배치 */
  align-items: center;
  margin-left: -8%; /* 기본 마진을 0으로 설정 */
}

.subTitle {
  /* position: absolute 제거 */
  font-family: "NPS font", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 10px; /* 아래쪽 여백 추가 */
  color: rgba(255, 255, 255, 0.9);
}

.mainTitle {
  /* position: absolute 제거 */
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
}

.highlight {
  /* position: absolute 제거 */
  font-family: "NPS font", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
  color: rgba(255, 255, 255, 0.9);
}

.description {
  /* position: absolute 제거 */
  font-family: "NPS font";
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  text-align: justify;
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
  color: rgba(255, 255, 255, 0.9);
}

.notice {
  /* position: absolute 제거 */
  font-family: "NPS font";
  font-weight: 250;
  font-size: 14px; /* 글씨 크기 재조정 */
  line-height: 180%;
  margin-top: 20px; /* 위쪽 여백 추가 */
  color: rgba(255, 255, 255, 0.9);
}
