.back {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  font-family: "NPS font", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 180%;
  letter-spacing: 0;
  color: #000000;
}

.addDescription {
  font-family: "NPS font", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0;
  color: #000000;
}

.warning {
  font-family: "NPS font", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0;
  color: #c0c0c0;
}

.imageContainer {
  flex: 1;
  position: relative;
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  margin-left: 10%;
}

@media (max-width: 768px) {
  .back {
    flex-direction: column;
    padding: 20px;
  }

  .description {
    font-size: 20px;
  }

  .addDescription {
    font-size: 16px;
  }

  .warning {
    font-size: 12px;
  }

  .imageContainer {
    width: 80vw;
    height: 90vw;
    margin-top: 40px;
  }
}
.back {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}
